<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiaPizzeria - Pedidos</title>
</head>
<body>
    <div class="header">
        <h1>Pedidos</h1>
    </div>
    <div class="content">
        <form action="">
            <fieldset>
                <legend>Informações do Cliente</legend>
                <label for="name">
                    Nome do Cliente:<input type="text" id="name" name="client-name">
                </label>
                <label for="local-entrega">
                    Local de Entrega:<input type="text" id="local-entrega" name="local-entrega">
                </label>
            </fieldset>
            <fieldset>
                <legend>Itens do Pedido</legend>
                <button>Adicionar Item</button>
                <table>
                    <tr>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                        <th>Ações</th>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                
            </fieldset>
        </form>
    </div>
    <div class="footer">

    </div>
</body>
</html>